.page-node-type-article .img-holder {padding-bottom: 20px;}

.page-node-type-article .field--name-field-article-author .field--label {font-weight: 400; }
.page-node-type-article .field--name-field-article-author .field--label::after{content:none;}
.page-node-type-article .field--name-field-article-author {font-style: italic; padding-bottom: 10px;}

.field--label-inline .field--label {padding-right: 3px;}