.page-node-type-article .img-holder {padding-bottom: 20px;}

.page-node-type-article .field--name-field-article-author .field--label {font-weight: 400; }
.page-node-type-article .field--name-field-article-author .field--label::after{content:none;}
.page-node-type-article .field--name-field-article-author {font-style: italic; padding-bottom: 10px;}

.field--label-inline .field--label {padding-right: 3px;}

/*views for articles*/
.carded .view-content {
  display: flex;
  flex-wrap: wrap;
}

.carded .views-row {
  border-right: 1px solid #eee;
  border-bottom:  1px solid #eee;
  h2 {
    font-size: 16px;
    padding-right: 10px;
  }
  .field--type-text-with-summary {padding-right: 10px;}

  margin-bottom: 3px;

  &:hover{
    @include media(">desktop") {
      background-color: #eee;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border: 1px solid gray;
      overflow: hidden;
    }
  }
}

.page-node-type-page .col-sm-12 .region-content .carded .field--name-body {margin: 0;}