h1, h2, h3 {font-family: "Raleway",Helvetica,Arial,sans-serif;}

.img-wrapper {
  float: left;
  padding: 0 40px 20px 0;
  @include media("<tablet") {
    max-width: 150px;
    padding: 0 10px 10px 0;
  }
}

.views-row {clear: left;}

.person .field--name-field-image {float: left; padding: 0 120px;}
.page .field--name-field-image {float: right; padding: 0 20px;
  @include media("<tablet") {
    float: none;
  }
}

/*iti showcase*/
.judge .field--name-field-pic, .instructor .field--name-field-pic {float: left; padding: 0 40px 60px 0;
  @include media("<tablet") {
    float: none;
    padding: 0 10px;
  }
}

.judge h2 {font-size: 22px; margin-top: 0; margin-bottom: 5px;}


/*teams - used for CISSL*/
.team .views-row {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  @include media("<tablet") {
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}

.team h2 {margin-top: 0;}

.img-wrap {padding: 0 40px 20px 0; min-width: 260px;
  @include media("<tablet") {
    padding: 0 20px 10px 0;  min-width: 120px; max-width: 150px;
  }
}

.align-left {padding-right: 20px;}


/*gallery - images */
.field--name-field-image-for-gallery .field--item{
  float: left;
  max-width: 250px;
  margin-right: .5rem;
  margin-bottom: 1rem;
}

.contact-form, .user-login-form {max-width: 800px;}

/*video*/
.video-embed-field-responsive-video {
  max-width: 600px;
}